@media(max-width: 1800px) {
    .hero--page::after,
    .w {
        max-width: 90%;
    }

    .faq,
    .hero .hero__header,
    .hero__main {
        max-width: 100% !important;
        width: 100% !important;
    }

    .section__header {
        font-size: 32px;
    }

    .offerBox__header {
        font-size: 24px !important;
    }

    .offerBox__btn,
    .section__caption,
    .section__text {
        font-size: 17px;
    }

    .offerBox__text {
        font-size: 15px;
    }

    .footer__logo {
        flex-basis: 16%;
    }

    .footer__cols {
        flex-basis: 80%;
    }

    .row--contact .offerBox {
        width: 30%;
    }
}

@media(max-width: 1400px) {
    .section--page .imgWrapper {
        width: 30%;
    }

    .offerBox__imgWrapper {
        height: 60px;
    }

    .offerBox {
        height: 350px;
    }

    .offerBox__header {
        font-size: 21px !important;
        margin: 10px 0;
    }

    .offerBox__text {
        font-size: 14px;
    }

    .offerBox__btn {
        height: 45px;
        font-size: 15px;
    }

    .section__contact__header {
        font-size: 17px;
    }

    .section__contact__data {
        font-size: 24px;
    }

    .section__contact__btn {
        height: 45px;
    }

    .footer__col__link {
        font-size: 12px;
    }

    .hero__main {
        margin-top: 200px;
    }

    .hero__main__header {
        font-size: 32px;
        max-width: 500px;
    }

    .hero__main__text {
        font-size: 15px;
    }

    .hero__main__btn {
        width: 350px;
        font-size: 21px;
    }

    .hero__header__menu__item {
        margin: 0 20px;
    }
}

@media(max-width: 1200px) {
    .section--page .section__header,
    .section__header {
        font-size: 24px;
    }

    .faq__content__question,
    .faq__content__answer,
    .section__text {
        font-size: 14px;
    }

    .section--footer {
        flex-direction: column;
        align-items: center;
    }

    .footer__logo {
        margin-bottom: 40px;
    }

    .footer__logo::after {
        display: none;
    }

    .footer__cols {
        width: 100%;
        flex-basis: 100%;
    }

    .footer__cols * {
        text-align: center;
    }

    .row--contact .offerBox {
        width: 31%;
        margin: 0;
    }

    .row--contact {
        justify-content: space-between;
    }
}

@media(max-width: 996px) {
    .section__header {
        width: 100%;
        text-align: center;
    }

    .section__header::before {
        left: 50%;
        top: -10px;
        transform: translateX(-50%);
    }

    .section--1 .section__header::before {
        width: 50px;
    }

    .section--2 .section__header::before {
        width: 90px;
    }

    .section--page > .flex,
    .row--contact,
    .section--3--1,
    .section--1 {
        flex-direction: column;
    }

    .section--page .imgWrapper,
    .section--1 .imgWrapper {
        width: 80%;
        margin-bottom: 70px;
        margin-left: 3vw;
    }

    .page--left {
        width: 100%;
    }

    .section--page .imgWrapper {
        margin-bottom: 0;
        margin-top: 70px;
        margin-left: 10vw;
    }

    .section--1 .section__article {
        width: 100%;
    }

    .section--3--1 .imgWrapper {
        margin-bottom: 40px;
        margin-left: 3vw;
    }

    .section--3--1,
    .section--3 {
        margin-bottom: 0;
    }

    .section {
        margin-top: 80px;
        margin-bottom: 30px;
    }

    .section--footer {
        margin-top: 40px;
    }

    .section__caption,
    .section__text {
        text-align: center;
    }

    .offerBox__row {
        flex-direction: column;
        margin-bottom: 0;
    }

    .offerBox__row:last-of-type {
        margin-top: 0;
    }

    .offerBox__imgWrapper {
        height: 50px;
    }

    .offerBox {
        width: 100%;
        margin-bottom: 25px !important;
        max-width: 400px;
        height: 300px;
    }

    .row--contact .offerBox {
        height: 330px;
        width: 100%;
        max-width: 400px;
    }

    .offerBox__header {
        font-size: 20px !important;
    }

    .offerBox__btn {
        height: 55px;
    }

    .section--3--1 .section__article * {
        text-align: center;
    }

    .section__contact__btn {
        margin: auto;
        font-size: 17px;
    }

    .footer__cols {
        flex-wrap: wrap;
    }

    .footer__col {
        width: 48%;
        margin-bottom: 20px;
    }

    .hero__header__menu__item {
        margin: 0 10px;
    }

    .hero--page .hero__header__logoWrapper,
    .hero__header__logoWrapper {
        width: 70px;
    }

    .hero--page::after {
        display: none;
    }

    .hero--page {
        height: 120px;
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .section--contact {
        margin-top: 180px;
    }

    .hero--page .hero__header__menu {
        top: 15%;
    }
}

@media(max-width: 768px) {
    .d-mobile {
        display: block;
    }

    .d-desktop {
        display: none;
    }

    .faq__mobileHeader {
        font-family: 'Cizel', serif;
        text-align: center;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
    }

    .faq {
        flex-direction: column;
        height: auto;
        margin-top: 25px;
    }

    .faq__imageWrapper {
        margin-bottom: 30px;
        width: 100%;
        height: auto;
    }

    .faq__imageWrapper .img {
        width: 100%;
        height: auto;
    }

    .faq__content {
        width: 100%;
        border-left: 1px solid var(--gold);
    }

    .section--3--1 .imgWrapper {
        width: 90%;
        margin-bottom: 10px;
    }

    .footer__col,
    .section--3--1 .section__article {
        width: 100%;
    }

    .footer__logo .img {
        max-width: 90%;
        margin: auto;
        display: block;
    }

    .hero__main__header::before {
        display: none;
    }

    .hero__main * {
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .hero__main__btn {
        width: 290px;
        height: 50px;
        font-size: 17px;
    }

    .mobileMenuBtn {
        background: transparent;
        width: 40px;
        border: none;
        outline: none;
    }

    .hero--page .hero__header {
        padding-bottom: 12px;
    }

    .hero__header {
        padding-bottom: 20px;
        border-bottom: 2px solid var(--gold);
    }

    .hero {
        padding-top: 25px;
    }

    .hero__header__menu {
        top: 15%;
    }

    .hero:not(.hero--page),
    .hero:not(.hero--page) .hero__backgroundWrapper {
        min-height: 500px;
    }

    .hero__main {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 45%;
        margin-top: 0;
    }

    .hero {
        position: relative;
    }

    .section--3--1 > * {
        margin: 0;
    }

    .mobileMenu {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        transform: scaleX(0);
        transform-origin: top right;
        transition: .2s all;
    }

    .mobileMenu > * {
        transition: .2s all;
        opacity: 0;
    }

    .mobileMenu__close {
        position: absolute !important;
        top: 20px;
        right: 20px;
        width: 20px;
        background: transparent;
        border: none;
        outline: none;
    }

    .mobileMenu__list__item {
        padding: 8px 0;
        border-bottom: 1px solid #E1E1E1;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }

    .mobileMenu__list {
        width: 100%;
    }

    .mobileMenu__list__item--header,
    .mobileMenu__list__item--bold {
        font-weight: 500;
    }

    .mobileMenu__list__item--header {
        border-bottom: none;
    }
}

@media(max-width: 576px) {
    .section__contact__data {
        font-size: 21px;
    }
}
